body {
  color: #70657b;
}

table {
  font-size: .75rem;
}

table th {
  white-space: nowrap;
  border-top: 0 !important;
}

.table th,
.table td {
  padding: .375rem .5rem;
  text-align: center;
  vertical-align: middle;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.g-table th,
.g-table td {
  padding: .375rem;
  text-align: center;
  vertical-align: middle;

  &:first-child,
  &:last-child {
    padding-left: 1rem;
  }
}

.g-table tr th,
.g-table tr td {

  &:first-child {
    padding-left: 1rem;
  }

  &:last-child {
    padding-right: 1rem;
  }
}

.g-table th {
  padding-top: .5rem;
}

.c_table {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  &__responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  &__table {
    width: 100%;
  }

  thead {
    th {
      text-align: center;
      padding-bottom: .5rem;

      .material-icons {
        font-size: 1rem;
        line-height: 1rem;
      }
    }
  }

  tbody {
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 10px;
      box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.15);
      z-index: 0;
    }

    tr {
      
      td {
        border: 0;
        background-color: #f8f9fa;
        position: relative;
        padding: .5rem 1rem;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background: #D6D6D6;
          z-index: 1;
        }

        &::before {
          content: '';
          position: absolute;
          top: .5rem;
          bottom: .5rem;
          right: 0;
          width: 1px;
          background: #D5D5D5;
          z-index: 1;
        }

        &:first-child {

          &::after {
            left: .5rem;
          }
        }

        &:last-child {
          
          &::after {
            right: .5rem;
          }

          &::before {
            display: none;
          }
        }
      }

      &:first-child {
      
        td:first-child {
          border-radius: 10px 0 0 0;
        }

        td:last-child {
          border-radius: 10px 10px 0 0;
        }
    
        td:not(:first-child):last-child {
          border-radius: 0 10px 0 0;
        }
      }
  
      &:last-child {

        td::after {
          display: none;
        }
  
        td:first-child {
          border-radius: 10px 0 0 10px;
        }
    
        td:last-child {
          border-radius: 10px;
        }

        td:not(:first-child):last-child {
          border-radius: 0 10px 10px 0;
        }
      }

      &:not(:first-child):last-child {

        td::after {
          display: none;
        }
  
        td:first-child {
          border-radius: 0 0 0 10px;
        }
    
        td:last-child {
          border-radius: 0 0 10px 10px;
        }
      }
    }

    .c_table__row-active {
      
      td {
        background-color: #e9e9ff;
      }
    }
  }

  &__btn {
    padding: .25rem .5rem;
    border: 0;
    outline: 0 !important;
    background-color: transparent;
    color: inherit;
    font-size: .9rem;
    transition: .15s;

    &:hover {
      text-decoration: none;
    }

    &-primary {
      color: #3679E1;

      &:hover {
        color: #1457BF;
      }
    }

    &-secondary {
      color: #6c757d;

      &:hover {
        color: #5a6268;
      }
    }

    &-success {
      color: #28a745;

      &:hover {
        color: #218838;
      }
    }

    &-warning {
      color: #ffc107;

      &:hover {
        color: #e0a800;
      }
    }

    &-danger {
      color: #dc3545;

      &:hover {
        color: #c82333;
      }
    }

    &-dark {
      color: #343a40;

      &:hover {
        color: #23272b;
      }
    }

    &-light {
      color: #f8f9fa;

      &:hover {
        color: #e2e6ea;
      }
    }

    &-info {
      color: #86B1E4;

      &:hover {
        color: #3679E1;
      }
    }

    &-default {
      color: #639;

      &:hover {
        color: #53297c;
      }
    }
  }
}

.wrap {
  width: 100%;
}

.auth-layout {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(rgba(17, 28, 36, 0.6), rgba(17, 28, 36, 0.6)), url('../../img/logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.auth {
  // max-width: 550px;
  width: 100%;
  height: 100%;

  &__card {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    overflow: hidden;
  }

  h1 {
    font-size: 1.15rem;
  }

  &__logo {
    //background-color: #FFF;
    padding: 30px 0;
    border-radius: 0 0 0.25rem 0.25rem;
  }

  &__label {
    color: #aaa !important;
  }

  &__btn {
    font-size: .825rem;
  }

  &__right,
  &__bg {
    //background: url(../../../assets/img/bg1.jpg);
    background-size: cover;
  }

  &__soc-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 80px 15px;
  }
}

.fullscreen_map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  transform: translate(0, -150vh);
  transition: .3s;

  &__close {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2050;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f24;
    border: 1px solid #f24;
    color: #fff;
    font-size: 1.7rem;
    line-height: 1.7rem;
    transition: .15s;
  
    &:hover {
      background: #f03;
      border-color: #f03;
    }
  }
}

.open_map_btn {
  position: fixed;
  z-index: 1999;
  bottom: 25px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cookies-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  &__logo {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
  }
}

@media (min-width: 768px) {

  .auth {
    max-width: 550px;
    margin: auto;
    // max-height: 450px;

    &__card {
      min-height: 0;
      border-radius: 10px;
      box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.15);
      border: 1px solid #DEDEDE;
      background-color: rgba(87, 87, 87, 0.74);
    }

    &__label {
      color: #fff !important;
    }
  }

  .auth__soc-btns {
    padding: 0;
  }
}

@media (min-width: 992px) {

  .auth {
    min-width: 550px;
  }
}


.COLOR_CHEME_DARK {
  body {
    color: #ddd;
  }

  .main-header {
    background: #333;
  }

  .header-right {
  
    &__dropdown {
      border: 0;
      box-shadow: 0 0.5rem 1rem rgb(255, 255, 255, 0.15);
      color: #fff;
      background-color: #000;
    }
  }

  .dropdown {

    &__item {
      color: #ddd;

      &:focus,
      &:hover {
        color: #ddd;
        background-color: #333;
      }
    }

    &__header {
      color: #ddd;
    }
  }

  .app-nav {
    background: #333;
    box-shadow: 0.5rem 0 1rem rgb(255, 255, 255, 0.15);
  
    &:hover { /* Firefox */
      scrollbar-color: #444 transparent;
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #444;
    }
  
    .nav__item {
      color: #ddd;
      border-bottom: 1px solid #ddd;
    }
  
    .nav__link {
      color: #fff;
      border: 0;
      background-color: transparent;
    }
  }
  
  .submenu {
    background: #333;
    box-shadow: 0.5rem 0 1rem rgb(255, 255, 255, 0.15);
  
    &:hover { /* Firefox */
      scrollbar-color: #444 transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #444;
    }
  
    &__link {
      color: #ddd;
  
      &:hover {
        background-color: #444;
      }
  
      i {
        color: #ccc;
      }
    }
  }
  
  .mobsubmenu {
  
    &__link {
      color: #ddd;
  
      &:hover {
        background-color: #444;
      }
  
      i {
        color: #ddd;
      }
    }
  }
  
  .main {
    background: #333;
  }

  .bg {
    background: #333;
    color: #ddd;
  }

  .c_table {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  
    &__responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      padding: 1rem 1rem 1.5rem 1rem;
    }
  
    &__table {
      width: 100%;
    }
  
    thead {
      th {
        text-align: center;
        padding-bottom: .5rem;
  
        .material-icons {
          font-size: 1rem;
          line-height: 1rem;
        }
      }
    }
  
    tbody {
      position: relative;
      z-index: 2;
  
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.15);
        z-index: 0;
      }
  
      tr {
        
        td {
          border: 0;
          background-color: #282828;
          position: relative;
          padding: .5rem 1rem;
  
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: #D6D6D6;
            z-index: 1;
          }
  
          &::before {
            content: '';
            position: absolute;
            top: .5rem;
            bottom: .5rem;
            right: 0;
            width: 1px;
            background: #444;
            z-index: 1;
          }
  
          &:first-child {
  
            &::after {
              left: .5rem;
            }
          }
  
          &:last-child {
            
            &::after {
              right: .5rem;
            }
  
            &::before {
              display: none;
            }
          }
        }
  
        &:first-child {
        
          td:first-child {
            border-radius: 10px 0 0 0;
          }
  
          td:last-child {
            border-radius: 10px 10px 0 0;
          }
      
          td:not(:first-child):last-child {
            border-radius: 0 10px 0 0;
          }
        }
    
        &:last-child {
  
          td::after {
            display: none;
          }
    
          td:first-child {
            border-radius: 10px 0 0 10px;
          }
      
          td:last-child {
            border-radius: 10px;
          }
  
          td:not(:first-child):last-child {
            border-radius: 0 10px 10px 0;
          }
        }
  
        &:not(:first-child):last-child {
  
          td::after {
            display: none;
          }
    
          td:first-child {
            border-radius: 0 0 0 10px;
          }
      
          td:last-child {
            border-radius: 0 0 10px 10px;
          }
        }
      }
  
      .c_table__row-active {
        
        td {
          background-color: #282828;
        }
      }
    }
  }

  .angular-editor-toolbar {
    background-color: #282828 !important;
  }

  .angular-editor-button, .ae-picker-label {
    background-color: #444 !important;
  }

  hr {
    border-top: 1px solid rgba(255, 255, 255, .1);
  }
}
