.main_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  &__loader {
    display: inline-flex;
  }

  &__spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: 1s linear infinite spinner;
    margin-right: 1rem;

    &:first-child {
      color: #f8f9fa !important;
    }

    &:nth-child(2) {
      animation-delay: .25s;
      color: #080705 !important;
    }

    &:last-child {
      margin-right: 0;
      animation-delay: .5s;
      color: #3679E1 !important;
    }
  }
}


@keyframes spinner {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}
