$calendarColBorderColor: #ddd;
$calendarColBorderDarkColor: #222;

.calendar {
  display: flex;
  flex-direction: column;

  &__row {
    width: 100%;
    display: flex;
    border-top: 1px solid $calendarColBorderColor;
    background-color: #fafafa;
    transition: all .15s ease-in-out;

    &:last-child {
      border-bottom: 1px solid $calendarColBorderColor;
    }

    &:nth-child(even) {
      background-color: #f4f4f4;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__header, &__col {
    width: 11.5%;
    border-left: 1px solid $calendarColBorderColor;

    &:last-child {
      border-right: 1px solid $calendarColBorderColor;
    }
  }

  &__header {
    padding: .125rem .25rem;
    font-size: .8rem;
    font-weight: 700;
    text-align: center;
    background-color: #ddd !important;
    color: #999 !important;
  }

  &__header:first-child {
    width: 19.5%;
  }

  &__col {
    transition: all .15s ease-in-out;

    &:hover {
      background-color: #e8e8e8;
    }
  }
}

.week_cell {
  width: 100%;
  height: 100%;
  padding: .125rem .25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: inherit;
  border: 0;

  &:hover,
  &:focus {
    outline: 0;

    .week_cell__counter > .badge {
      transform: scale(1.3);
    }
  }

  &__counter {
    font-size: .8rem;

    >.badge {
      transition: .2s;
    }
  }

  &__indicators {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
  }

  &__indicator {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: .25rem;
    margin-bottom: .25rem;
    border-radius: 50%;
  }
}


.COLOR_CHEME_DARK {

  .calendar {
  
    &__row {
      border-top: 1px solid $calendarColBorderDarkColor;
  
      &:last-child {
        border-bottom: 1px solid $calendarColBorderDarkColor;
      }
  
      &:nth-child(even) {
        background-color: #444;
      }
  
      &:hover {
        background-color: #555;
      }
    }
  
    &__header, &__col {
      border-left: 1px solid $calendarColBorderDarkColor;
  
      &:last-child {
        border-right: 1px solid $calendarColBorderDarkColor;
      }
    }
  
    &__header {
      background-color: #222 !important;
      color: #777 !important;
    }
  
    &__col {
  
      &:hover {
        background-color: #181818;
      }
    }
  }
}


@media (min-width: 576px) {
  .calendar {
  
    &__header, &__col {
      width: 12.5%;
      border-left: 1px solid $calendarColBorderColor;
  
      &:last-child {
        border-right: 1px solid $calendarColBorderColor;
      }
    }
  
    &__header {
      padding: .25rem;
      font-size: .8rem;
      font-weight: 700;
      text-align: center;
    }
  
    &__header:first-child {
      width: 12.5%;
    }
  }

  .week_cell {
    padding: .25rem;
  
    &__counter {
      margin-right: .5rem;
      font-size: .9rem;
    }
  }
}