<div class="calendar">
  <div class="calendar__row">
    <header class="calendar__header">
      <span></span>
    </header>
    <header 
      *ngFor="let header of headers; let idx = index"
      class="calendar__header"
    >
      <span class="calendar__header_item d-none d-lg-inline">{{ header | translate }}</span>
      <span class="calendar__header_item d-lg-none">{{ headersShort[idx] | translate }}</span>
    </header>
  </div>

  <div 
    *ngFor="let row of weekCalendarRows; let idx = index"
    class="calendar__row"
  >
    <div class="calendar__header">
      <div class="d-flex flex-column align-items-center">
        <span>{{ (idx | timeRangeFromIndex).from }}</span>
        <span>-</span>
        <span>{{ (idx | timeRangeFromIndex).to }}</span>
      </div>
    </div>
    <div 
      *ngFor="let col of row"
      class="calendar__col"
    >
      <button 
        class="week_cell"
        (click)="onCeilClick(col)"
      >
        <div 
          class="week_cell__counter"
          *ngIf="col.events?.length"
        >
          <span class="badge badge-danger badge-pill">{{col.events.length}}</span>
        </div>
        <div class="week_cell__indicators">
          <div 
            *ngFor="let e of col.events"
            class="week_cell__indicator" 
            [style.background]="e.color"
            [title]="e.title"
          ></div>
        </div>
      </button>
    </div>
  </div>
</div>