.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.calendar_period {
  margin-top: .5rem;
  margin-bottom: .5rem;

  h2 {
    font-size: 1.2rem;
  }
}


@media (min-width: 1200px) {
  .calendar_period {
  
    h2 {
      font-size: 1.5rem;
    }
  }
}
