<div 
  class="auth-layout d-flex flex-column justify-content-center align-items-center" 
>
  <div 
    *ngIf="form"
    class="auth p-4 p-md-0 m-auto"
  >
    <div class="card o-hidden">
      <div class="row">

        <div class="col-12 d-flex justify-content-between align-items-center pr-4">
          <app-select-lang></app-select-lang>
          <app-color-scheme-select></app-color-scheme-select>
        </div>

        <div class="col-12">
          <div class="px-4">
            <div class="auth__logo text-center mb-3">
              <img src="../../../assets/img/logo.png" alt="" width="128px">
            </div>
            <h1 class="text-center mb-2">{{'TITLE_RESET_PANEL' | translate}}</h1>
            <form 
              [formGroup]="form"
              (ngSubmit)="form.valid && finishReset()"
            >
              <div class="form-group">
              <label for="pass">{{'LOGIN_PANEL_PASS' | translate}}</label>
              <input 
                type="password" 
                class="form-control form-control-rounded" 
                id="pass" 
                name="pass" 
                formControlName="pass"
                [ngClass]="{
                  'border-danger': form.controls['pass'] && form.controls['pass'].touched && form.controls['pass'].invalid,
                  'border-success': form.controls['pass'] && form.controls['pass'].touched && form.controls['pass'].valid
                }"
                [placeholder]="'PASS_EXAMPLE' | translate" 
              />
              </div>
              <button 
                class="btn btn-primary btn-rounded btn-block mt-3"
                [disabled]="loading || form.invalid"
            >{{'FINISH_RESET_FINISH_RESET_BUTTON' | translate}}</button>
            </form>
          
            <a 
              class="btn btn-rounded btn-outline-info btn-block btn-icon-text auth__btn mt-2"
              [routerLink]="['/login']"
            >
              {{'FINISH_RESET_LOGIN_BUTTON' | translate}}
            
            </a>
           
            <div class="my-3 text-center">
              <a 
                class="text-muted fz-0_8rem"
                [routerLink]="['/register']"
              >{{'FINISH_RESET_REGISTER_BUTTON' | translate}}</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
