.g-tag {
  background-color: #d11;
  color: #fff;
  border-radius: 25px;
  font-size: .8rem;
  transition: .15s;

  &__close {
    cursor: pointer;
    font-size: .9rem;
    transition: all .2s ease-in-out;
  }
}