<div 
  class="auth-layout d-flex flex-column justify-content-center align-items-center" 
>
  <div class="auth p-4 p-md-0 m-auto">
    <div 
      class="card o-hidden" 
    >
      <div class="row">

        <div class="col-12 d-flex justify-content-between align-items-center pr-4">
          <app-select-lang></app-select-lang>
          <app-color-scheme-select></app-color-scheme-select>
        </div>
        
        <div class="col-12">
          <div class="px-4 mt-md-4 mb-md-4">
            <div class="auth__logo text-center mb-3">
              <img src="../../../assets/img/logo.png" alt="" width="128px">
            </div>
            
            <h1 class="text-center mb-2">{{'TITLE_REGISTER_PANEL' | translate}}</h1>
            <form
              [formGroup]="form"
              (ngSubmit)="form.valid && register()" 
            >
              <div class="form-group">
                <label for="login">{{'REGISTER_PANEL_LOGIN' | translate}}</label>
                <input 
                  type="email" 
                  class="form-control form-control-rounded" 
                  id="login" 
                  name="login" 
                  formControlName="login" 
                  [placeholder]="'EMAIL_EXAMPLE' | translate"
                  [(ngModel)]="model.login"
                  [ngClass]="{
                    'border-danger': form.get('login').touched && form.get('login').invalid,
                    'border-success': form.get('login').touched && form.get('login').valid
                  }"
                >
              </div>

              <div class="form-group">
                <label for="pass">{{'REGISTER_PANEL_PASS' | translate}}</label>
                <input 
                  type="password" 
                  class="form-control form-control-rounded" 
                  id="pass" 
                  name="pass" 
                  formControlName="pass" 
                  [placeholder]="'PASS_EXAMPLE' | translate"
                  [(ngModel)]="model.pass"
                  [ngClass]="{
                    'border-danger': form.get('pass').touched && form.get('pass').invalid,
                    'border-success': form.get('pass').touched && form.get('pass').valid
                  }"
                />
              </div>

              <div class="form-group">
                <label 
                  class="checkbox checkbox-primary"
                >
                  <input 
                    type="checkbox" 
                    id="consent_all"
                    name="consent_all"
                    [ngModel]="consentAllAreChecked()"
                    (input)="changeConsent($event)"
                    formControlName="consent_all" 
                  >
                  <span class="fw-700 text-primary">
                    {{'CHECK_ALL_STATUTES' | translate}}
                  </span>
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="form-group">
                <label 
                  class="checkbox checkbox-primary"
                >
                  <input 
                    type="checkbox" 
                    id="consent_to_regulations"
                    name="consent_to_regulations"
                    [(ngModel)]="model.consent_to_regulations"
                    formControlName="consent_to_regulations" 
                  >
                  <p class="text-inverse mb-0">
                    <span class="text-danger fw-700 mr-1">*</span>
                    <span
                      [ngClass]="{
                        'text-danger': form.get('consent_to_regulations').dirty && form.get('consent_to_regulations').invalid,
                        'text-success': form.get('consent_to_regulations').dirty && form.get('consent_to_regulations').valid
                      }"
                    >{{'USING_SERVICE_YOU_AGREE_TO_OUR' | translate}} <a [routerLink]="['/terms']">{{'USER_AGREEMENT' | translate}}</a> {{'AND_ACKNOWLEDGE_READING_OUR' | translate}} <a [routerLink]="['/rodo']">{{'USER_PRIVACY_NOVICE' | translate}}</a></span>
                  </p>
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="form-group">
                <label 
                  class="checkbox checkbox-primary"
                >
                  <input 
                    type="checkbox" 
                    id="consent_to_email_marketing"
                    name="consent_to_email_marketing"
                    [(ngModel)]="model.consent_to_email_marketing"
                    formControlName="consent_to_email_marketing" 
                  >
                  <span>
                    {{'EMAIL_MARKETING_ACCEPT' | translate}}
                  </span>
                  <span class="checkmark"></span>
                </label>
              </div>

              <button 
                class="btn btn-primary btn-rounded btn-block mt-3"
                [disabled]="loading || form.invalid"
              >{{'REGISTER_PANEL_REGISTER_BUTTON' | translate}}</button>
              <button 
                class="btn btn-rounded btn-outline-info btn-block btn-icon-text auth__btn" 
                [routerLink]="['/login']"
              >
                {{ 'REGISTER_PANEL_CANCEL_BUTTON' | translate }}
              </button>
            </form>
            <div class="mt-3 text-center">
              <a 
                class="text-muted fz-0_8rem"
                [routerLink]="['/reset']"
            >{{'LOGIN_PANEL_PASS_RESET_BUTTON' | translate}}</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
