.byebutton {

  &__loader {
    display: inline-flex;
  }

  &__spinner {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    color: #f8f9fa !important;
    vertical-align: -0.125em;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: 1s linear infinite spinner;
    margin-right: .25rem;

    &:nth-child(2) {
      animation-delay: .25s;
    }

    &:last-child {
      margin-right: 0;
      animation-delay: .5s;
    }
  }
}


@keyframes spinner {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}
