<button 
  class="byebutton {{className}}"
  [type]="typeName"
  [disabled]="loading || disabled"
  (click)="onClick($event);"
>
  <span 
    *ngIf="loading"
    class="byebutton__loader {{loaderClassName}}"
  >
    <div class="byebutton__spinner {{spinnerClassNames[0]}}"></div>
    <div class="byebutton__spinner {{spinnerClassNames[1]}}"></div>
    <div class="byebutton__spinner {{spinnerClassNames[2]}}"></div>
  </span>
  <span *ngIf="!loading">
    <ng-content></ng-content>
  </span>
</button>