<div style="width: 0px; overflow: hidden;">
    <input #uploader type="file" (change)="upload($event)" [accept]="format" />
</div>

<button class="btn btn-success" (click)="click()">
    <i class="i-Upload1"></i>
</button>

<ng-template #uploaderModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{'UPLOAD_LOADING_TEXT' | translate}}
        </h4>
    </div>
    <div class="modal-body">
        <div *ngIf="currentFile" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                {{ progress }}%
            </div>
        </div>
    </div>
</ng-template>