.tooltip-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: help;
}
.tooltip-btn:hover .tooltip-content {
  display: block;
}

.tooltip-html {}

.tooltip-icon {
  color: #bbb;
  font-size: .8rem;
  font-weight: bold;
}

.tooltip-content {
  display: none;
  position: fixed;
  padding: .75rem .5rem;
  color: #333;
  font-size: .9rem;
  z-index: 999;
  width: auto;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: .3s;
}