<div 
  class="tooltip-btn {{className}}" 
  [ngClass]="{
    'd-inline-flex': inline
  }"
  (mouseover)="test($event)"
>
  <div class="tooltip-html">
    <ng-content></ng-content>
  </div>
  <div 
    class="tooltip-content {{windowClassName}}"
    #tooltipContent
    [innerHTML]="tooltip"
  ></div>
</div>