<div 
  class="auth-layout d-flex flex-column justify-content-center align-items-center" 
  style="background: url({{basic.baseUrl}}/assets/img/bg.jpg);"
>
  <div class="auth p-4 p-md-0 m-auto">
    <div 
      class="card o-hidden"
      *ngIf="status"
    >
      <div class="card-body">
        <div class="row">
          
          <div 
            class="col-12"
          >
            <h1 class="text-success text-center finish_register__header">Dziękujemy za rejestrację</h1>
            <h2 class="text-success text-center finish_register__subheader">Twoje konto zostało aktywowane</h2>
            <a 
              class="btn btn-default btn-block"
              [routerLink]="['/' + basic.getUserRole() + '_dashboard']"
            >Przejdź do serwisu</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>