<div class="w-100 search-select">
  <div class="form-group mb-0">
    <label 
      *ngIf="label"
      [for]="hash"
    >
      {{label}}
    </label>
    <div class="d-flex align-items-center">
      <input 
        #input
        type="text" 
        class="form-control"
        [id]="hash" 
        [name]="hash" 
        [value]="selectedOption?.description"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
        (input)="onInput($event)"
        (keyup.enter)="onEnter($event)"
      >
      <button 
        *ngIf="showAddBtn"
        class="btn btn-primary ml-1"
        (click)="emitEnter()"
      >{{showAddBtnText}}</button>
    </div>
  </div>
 
  <div 
    class="search-select__dropdown"
    [ngClass]="{
      'd-none': !showDropdown
    }"
    *ngIf="options && options.length"
  >
    <ul class="list-group">
      <li 
        class="list-group-item search-select__item"
        *ngFor="let option of getOptions()"
        (click)="selectOption(option.value)"
      >{{ option.description }}</li>
    </ul>
  </div>
</div>