.search-select {
  position: relative;
}

.search-select__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.search-select__item {
  cursor: pointer;
}
.search-select__item:hover {
  background-color: #E8E8E8;
}
