.VALID
{
  background-color: #dafdda;
  border-radius: .375rem;
}

.INVALID
{
  background-color: #fde0e0;
  border-radius: .375rem;
}

.UNKNOWN
{
  background-color: #ffffff;
  border-radius: .375rem;
}

.LIST
{
  display: block;
	width: 100%;
	height: calc(1.5em + 1rem + 2px);
	padding: .5rem .75rem;
	font-size: .9375rem;
	font-weight: 400;
	line-height: 1.5;
	color: #12263f;
	background-color: #ffffff;
	background-clip: padding-box;
	border: 1px solid #d2ddec;
	border-radius: .375rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out

}

.calendar {
  color: #fff;
  font-size: 0.8rem;
}