.langs {
  display: flex;
  padding: 1rem;

  &__item {
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    box-shadow: none;
    margin: 0 .5rem 0 0;
    font-size: .8rem;

    &.selected {
      font-size: .9rem;
      font-weight: 700;

      img {
        width: 24px;
        height: 16px;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 21px;
      height: 14px;
      margin-right: 0.25rem;
    }
  }
}
