.byepagination_btn {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item {

  &.disabled {

    .byepagination_btn {
      color: #6c757d;
      pointer-events: none;
      cursor: auto;
      background-color: #fff;
      border-color: #dee2e6;
    }
  }

  &:first-child {

    .byepagination_btn {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }

  &:last-child {

    .byepagination_btn {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}


.COLOR_CHEME_DARK {
  .byepagination_btn {
    color: #007bff;
    background-color: #333;
    border: 1px solid #555;
  }
  
  .page-item {
  
    &.disabled {
  
      .byepagination_btn {
        color: #6c757d;
        background-color: #333;
        border-color: #555;
      }
    }
  }
}
