<ng-template #loginModal let-modal>
  <div class="modal-header">
    <h2></h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-12 col-lg-6">
        <div class="p-4">
        <div class="auth__logo text-center mb-4">
          <img src="../../../assets/img/logo.png" alt="" width="128px">
        </div>
        <h1 class="mb-3">{{'TITLE_LOGIN_PANEL' | translate}}</h1>
        <form name="form" (ngSubmit)="f.form.valid && loginToService()" #f="ngForm" novalidate>
          <div class="form-group">
          <label for="login">{{'LOGIN_PANEL_LOGIN' | translate}}</label>
          <input type="login" class="form-control form-control-rounded" id="login" name="login" [(appPhone)]="model.login" placeholder="+48XXXXXXXXX albo XXXXXXXXX" />
          </div>
          <div class="form-group">
          <label for="pass">{{'LOGIN_PANEL_PASS' | translate}}</label>
          <input type="password" class="form-control form-control-rounded" id="pass" name="pass" [(ngModel)]="model.pass" #pass="ngModel" required />
          </div>
          <button 
            class="btn-primary btn-rounded btn-block mt-3"
            [disabled]="loading"
        >{{'LOGIN_PANEL_LOGIN_BUTTON' | translate}}</button>
        </form>
        <div class="mt-3 text-center">
          <a 
            class="text-muted"
            [routerLink]="['/reset']"
            (click)="clearModals()"
        >{{'LOGIN_PANEL_PASS_RESET_BUTTON' | translate}}</a>
        </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 text-center auth__right">
        <div class="pr-md-3 auth__soc-btns">
          <button 
            class="btn btn-rounded btn-outline-info btn-block btn-icon-text auth__btn"
            (click)="openRegisterModal()"
        >
          <i class="far fa-envelope"></i>
          {{'LOGIN_PANEL_REGISTER_BUTTON' | translate}}
          </button>
    
          <button 
            class="soc_login_btn w-100 mt-2"
            (click)="loginWithFB()"
            type="button"
          >
            <img src="{{basic.getBaseUrl()}}/assets/img/fb.png" alt="" class="w-100">
          </button>

          <button 
            type="button"
            class="soc_login_btn w-75 mt-2"
            (click)="loginWithGoogle()"
          >
            <img src="{{basic.getBaseUrl()}}/assets/img/g_blue.png" alt="" class="w-100">
          </button>
        </div>
      </div>

    </div>
  </div>
</ng-template>