<label 
  [class]="helper[key]?.valid + ' byeradio radio ' + className"
  [ngClass]="{
    'USE_COMPONENT_STYLES': showComponentStyles,
    'WAS_FOCUSED': helper[key]?.wasFocused,
    'LOST_FOCUS': helper[key]?.lostFocus,
    'WAS_CHANGED': helper[key]?.wasChanged,
    'MODEL_WAS_FOCUSED': helper[key]?.modelWasChanged,
    'IS_VALID': helper[key]?.isValid,
    'IS_INVALID': helper[key]?.isInvalid
  }"
>
  <input 
    type="radio" 
    [name]="name"
    [value]="value"
    [(ngModel)]="model[key]" 
    (ngModelChange)="onModelChanged($event);"
    (input)="onInput($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    [disabled]="disable"
  />

  <span>{{label | translate}}</span>
  <span class="checkmark"></span>
</label>
