<div class="calendar">
  <div class="calendar__row calendar__row-header">
    <div 
      *ngFor="let header of headers; let idx = index"
      class="calendar__header"
    >
      <span class="calendar__header_item d-none d-lg-inline">{{ header | translate }}</span>
      <span class="calendar__header_item d-inline d-lg-none">{{ shortHeaders[idx] | translate }}</span>
    </div>
  </div>

  <div class="calendar__row" *ngFor="let row of monthCalendarRows">
    <div 
      *ngFor="let col of row"
      class="calendar__col"
    >
      <button 
        class="month_cell"
        (click)="onCeilClick(col)"
      >
        <div class="month_cell__row month_cell__row-top">
          <div class="month_cell__event_count">
            <span 
              *ngIf="col.events?.length"
              class="badge badge-danger badge-pill"
            >{{ col.events.length }}</span>
          </div>
          <div 
            class="month_cell__day_number" 
            [ngClass]="{
              'text-info': col.selectedMonth,
              'text-danger month_cell__day_number-today': col.isToday
            }"
            [class.text-info]="true"
          >
            {{col.day}}
          </div>
        </div>
        <div class="month_cell__row month_cell__indicators">
          <div 
            *ngFor="let e of col.events | arrayLimit : 5"
            class="month_cell__indicator" 
            [style.background]="e.color"
            [title]="e.title"
          ></div>
        </div>
      </button>
    </div>
  </div>
</div>