$calendarColBorderColor: #ddd;
$calendarColBorderDarkColor: #222;

.calendar {
  display: flex;
  flex-direction: column;

  &__row {
    width: 100%;
    display: flex;
    border-top: 1px solid $calendarColBorderColor;
    background-color: #fafafa;
    transition: all .15s ease-in-out;

    &:last-child {
      border-bottom: 1px solid $calendarColBorderColor;
    }

    &:nth-child(even) {
      background-color: #f4f4f4;
    }

    &:hover {
      background-color: #f0f0f0;
    }

    &-header {
      background-color: #ddd !important;
      color: #999 !important;
    }
  }

  &__header, &__col {
    width: 14.2857%;
    border-left: 1px solid $calendarColBorderColor;

    &:last-child {
      border-right: 1px solid $calendarColBorderColor;
    }
  }

  &__header {
    padding: .25rem .125rem;
    font-weight: 700;
    text-align: center;
  }

  &__header_item {
    font-size: .9rem;
  }

  &__col {
    height: 100px;
    transition: all .15s ease-in-out;

    &:hover {
      background-color: #e8e8e8;
    }
  }
}

.month_cell {
  width: 100%;
  height: 100%;
  padding: .25rem .125rem;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  border: 0;

  &:hover,
  &:focus {
    outline: 0;

    .month_cell__event_count > .badge {
      transform: scale(1.3);
    }
  }

  &__row {
    width: 100%;
  }

  &__row-top {
    display: flex;
    flex-direction: column-reverse;
  }

  &__event_count {
    font-size: .75rem;

    >.badge {
      transition: .2s;
    }
  }

  &__day_number {
    font-size: .9rem;
    color: #ccc;

    &-today {
      font-size: 1rem;
    }
  }

  &__indicators {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  &__indicator {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: .25rem;
    margin-bottom: .25rem;
    border-radius: 50%;
  }
}


.COLOR_CHEME_DARK {
  .calendar {
  
    &__row {
      border-top: 1px solid $calendarColBorderDarkColor;
      background-color: #333;
      transition: all .15s ease-in-out;
  
      &:last-child {
        border-bottom: 1px solid $calendarColBorderDarkColor;
      }
  
      &:nth-child(even) {
        background-color: #444;
      }
  
      &:hover {
        background-color: #555;
      }
  
      &-header {
        background-color: #222 !important;
        color: #777 !important;
      }
    }
  
    &__header, &__col {
      width: 14.2857%;
      border-left: 1px solid $calendarColBorderDarkColor;
  
      &:last-child {
        border-right: 1px solid $calendarColBorderDarkColor;
      }
    }
  
    &__col {
  
      &:hover {
        background-color: #181818;
      }
    }
  }
  
  .month_cell {
  
    &__day_number {
      color: #777;
    }
  }
}


@media (min-width: 576px) {

  .calendar {
  
    &__header {
      padding: .25rem;
    }
  
    &__header_item {
      font-size: 1rem;
    }
  }

  .month_cell {
    padding: .25rem;
  
    &__row-top {
      flex-direction: row;
      justify-content: space-between;
    }
  
    &__event_count {
      font-size: .8rem;
    }
  
    &__day_number {
      font-size: 1rem;
  
      &-today {
        font-size: 1.2rem;
      }
    }
  }
}

@media (min-width: 992px) {

  .calendar {
  
    &__header_item {
      font-size: .9rem;
    }
  }

  .month_cell {
    padding: 1rem;
  
    &__event_count {
      font-size: .9rem;
    }
  
    &__day_number {
      font-size: 1.2rem;
  
      &-today {
        font-size: 1.5rem;
      }
    }
  }
}