<div class="form-control-wrap">
  <input 
    [type]="showPass ? 'text' : 'password'" 
    [(ngModel)]="model[key]" 
    (ngModelChange)="onModelChanged($event);" 
    class="form-control byepass {{helper[key].valid + ' ' + className}}" 
    [ngClass]="{
      'USE_COMPONENT_STYLES': showComponentStyles,
      'WAS_FOCUSED': helper[key]?.wasFocused,
      'LOST_FOCUS': helper[key]?.lostFocus,
      'WAS_CHANGED': helper[key]?.wasChanged,
      'MODEL_WAS_FOCUSED': helper[key]?.modelWasChanged,
      'IS_VALID': helper[key]?.isValid,
      'IS_INVALID': helper[key]?.isInvalid
    }"
    (input)="onInput($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    [disabled]="disable"
  >
  <button 
    class="form-control-pass-icon-btn"
    (click)="toggleShowPass()"
  >
    <i 
      *ngIf="!showPass"
      class="fas fa-eye"
    ></i>
    <i 
      *ngIf="showPass"
      class="fas fa-eye-slash"
    ></i>
  </button>
</div>
