<div class="cookies-panel" *ngIf="showCookiesModal">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-center align-items-center">

          <div class="col-6 col-sm-4 col-lg-3 d-flex justify-content-center align-items-center mb-2 mb-lg-0">
            <img src="../../assets/img/logo.png" alt="Logotyp" class="cookies-panel__logo">
          </div>

          <div class="col-12 col-md-8 col-lg-6 mb-2 col-mb-0 d-flex justify-content-center align-items-center">
            <p class="text-center my-2">
              <span>Using service, you agree to usage cookies and agree to our <a class="text-info" [routerLink]="['/terms']">User Agreement</a> and acknowledge reading our <a class="text-info" [routerLink]="['/rodo']">User Privacy Novice</a></span>
            </p>
          </div>

          <div class="col-12 col-lg-3 d-flex align-items-center">
            <button
			  id="accept_cookie"
              class="btn btn-info btn-block"
              (click)="accept()"
            >Accept</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
