<header 
  class="mat_layout_header"
  [ngClass]="{
    'mat_layout_header-menu_open': menuIsOpen
  }"
>
  <div class="mat_layout_header__left">
    <button 
      class="mat_layout_header_menu_btn ripple-effect"
      (click)="toggleMenu()"
    >
      <span class="mat_layout_header_menu_btn__item"></span>
      <span class="mat_layout_header_menu_btn__item"></span>
      <span class="mat_layout_header_menu_btn__item"></span>
    </button>

    <div 
      *ngIf="(title | translate)?.length; else headerLogo"
      class="mat_layout_header__title ml-3"
    >
      <h1>{{title | translate}}</h1>
    </div>

    <ng-template #headerLogo>
      <div class="mat_layout_header_logo ml-3">
        <img src="../../assets/img/logo.png" alt="">
      </div>
    </ng-template>
  </div>
  <div class="mat_layout_header__right">
    <button class="mat_layout_header_other_btn ripple-effect"
      (click)="toggleDropdown()"
    >
      <span class="mat_layout_header_other_btn__item"></span>
      <span class="mat_layout_header_other_btn__item"></span>
      <span class="mat_layout_header_other_btn__item"></span>
    </button>
  </div>
</header>

<ul 
  class="mat_layout_header_dropdown"
  [ngClass]="{
    'mat_layout_header_dropdown-dropdown_open': dropdownIsOpen
  }"
>
  <li class="mat_layout_header_dropdown__item">
    <button 
      type="button" 
      class="mat_layout_header_dropdown__btn ripple-effect"
      (click)="logout()"
    >Wyloguj</button>
  </li>
</ul>

<div 
  class="mat_layout_menu_backout"
  [ngClass]="{
    'mat_layout_menu_backout-menu_open': menuIsOpen
  }"
  (click)="closeMenu()"
></div>

<nav 
  class="mat_layout_menu"
  [ngClass]="{
    'mat_layout_menu-menu_open': menuIsOpen
  }"
>
  <ng-scrollbar [visibility]="'hover'">
    <ul class="mat_layout_menu__list">
      <li class="mat_layout_menu__item mat_layout_menu__item-lg">
        <a href="#" class="mat_layout_menu__link mat_layout_menu__link-logo ripple-effect">
          <img src="../../assets/img/logo.png" alt="" class="mat_layout_menu__logo">
        </a>
      </li>
    </ul>

    <ul class="mat_layout_menu__list">
      <li 
        *ngFor="let link of links"
        class="mat_layout_menu__item"
      >
        <a 
          *ngIf="link?.linkTo?.length"
          class="mat_layout_menu__link ripple-effect"
          [routerLink]="link.linkTo"
          [ngClass]="{
            'active': link.active
          }"
          (click)="closeMenu()"
        >
          <span class="mat_layout_menu__icon">
            <i [class]="link.iconClass"></i>
          </span>
          <span class="mat_layout_menu__text">
            {{ link.title | translate }}
          </span>
        </a>
        <button 
          *ngIf="!link?.linkTo?.length"
          class="mat_layout_menu__link ripple-effect"
          [ngClass]="{
            'active': link.active
          }"
          (click)="goToLink(link)"
        >
          <span class="mat_layout_menu__icon">
            <i [class]="link.iconClass"></i>
          </span>
          <span class="mat_layout_menu__text">
            {{ link.title | translate }}
          </span>
        </button>
      </li>
    </ul>

    <app-select-lang></app-select-lang>
  </ng-scrollbar>
</nav>

<div 
  *ngIf="subs.length"
  class="mat_layout_submenu"
  [ngClass]="{
    'mat_layout_submenu-menu_open': menuIsOpen
  }"
>
  <ng-scrollbar visibility="hover" track="horizontal" trackClass="d-none">
    <ul class="mat_layout_submenu__list">
      <li 
        *ngFor="let s of subs"
        class="mat_layout_submenu__item"
      >
        <a 
          class="mat_layout_submenu__link ripple-effect"
          [routerLink]="s.linkTo"
          [ngClass]="{
            'active': s.active
          }"
        >{{ s.title | translate }}</a>
      </li>
    </ul>
  </ng-scrollbar>
</div>

<main 
  class="mat_layout_main"
  [ngClass]="{
    'mat_layout_main-menu_open': menuIsOpen,
    'mat_layout_main-has_subs': subs?.length
  }"
>
  <router-outlet></router-outlet>
</main>
