.color_scheme_select_btn {
  width: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  outline: 0;
  background-color: transparent;
  color: inherit;
}

.color_scheme_dropdown {
  will-change: transform;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(0, 36px);
  margin: 0.125rem 0 0;
  display: none;
  border: 0;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  font-size: 0.813rem;
  color: #47404f;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

.color_scheme_dropdown-open {
  display: block;
}

.color_scheme_dropdown_btn {
  cursor: pointer;
  transition: .2s;

  &:hover {
    background-color: #ddd;
  }
}
