<div 
  class="color_scheme_select_btn justify-content-center" 
  [style.width.px]="75"
  (click)="colorSchemeDropdownOpen = !colorSchemeDropdownOpen"
  id="color_scheme_btn"
>
  <p class="d-flex align-items-center m-0">
    <img src="../../assets/img/color_scheme/{{selectedColorScheme}}.jpg" alt="" class="mr-2" [style.width.px]="20">
    <span>{{ ('COLOR_SCHEME_' + selectedColorScheme) | uppercase | translate}}</span>
  </p>
</div>

<div
  class="color_scheme_dropdown py-2 px-1"
  id="color_scheme_dropdown"
  [ngClass]="{
    'color_scheme_dropdown-open': colorSchemeDropdownOpen
  }"
>
  <p
    class="text-center px-4 py-1 m-0 color_scheme_dropdown_btn"
    (click)="selectColorScheme('auto')"
  >
    <img src="../../assets/img/color_scheme/auto.jpg" alt="" class="mr-2" [style.width.px]="24">
    <span>{{ 'COLOR_SCHEME_AUTO' | uppercase | translate}}</span>
  </p>
  <p
    class="text-center px-4 py-1 m-0 color_scheme_dropdown_btn"
    (click)="selectColorScheme('light')"
  >
    <img src="../../assets/img/color_scheme/light.jpg" alt="" class="mr-2" [style.width.px]="24">
    <span>{{ 'COLOR_SCHEME_LIGHT' | uppercase | translate}}</span>
  </p>
  <p
    class="text-center px-4 py-1 m-0 color_scheme_dropdown_btn"
    (click)="selectColorScheme('dark')"
  >
    <img src="../../assets/img/color_scheme/dark.jpg" alt="" class="mr-2" [style.width.px]="24">
    <span>{{ 'COLOR_SCHEME_DARK' | uppercase | translate}}</span>
  </p>
</div>
