.VALID {
	/* display: block;
	width: 100%;
	height: calc(1.5em + 1rem + 2px);
	padding: .5rem .75rem;
	font-size: .9375rem;
	font-weight: 400;
	line-height: 1.5; */
	color: #12263f;
	background-color: #dafdda;
	/* background-clip: padding-box; */
	border: 1px solid #d2ddec;
	/* border-radius: .375rem; */
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.INVALID {
  /* display: block;
	width: 100%;
	height: calc(1.5em + 1rem + 2px);
	padding: .5rem .75rem;
	font-size: .9375rem;
	font-weight: 400;
	line-height: 1.5; */
	color: #12263f;
	background-color: #fde0e0;
	/* background-clip: padding-box; */
	border: 1px solid #d2ddec;
	/* border-radius: .375rem; */
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.UNKNOWN {
  /* display: block;
	width: 100%;
	height: calc(1.5em + 1rem + 2px);
	padding: .5rem .75rem;
	font-size: .9375rem;
	font-weight: 400;
	line-height: 1.5; */
	// color: #12263f;
	// background-color: #ffffff;
	/* background-clip: padding-box; */
	border: 1px solid #d2ddec;
	/* border-radius: .375rem; */
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}