<div class="input-group datetime-wrap">
  <div 
    class="fake-input"
    (click)="openDrop()"
    #fakeInput
  >
    <span>{{model || 'yyy-mm-dd hh:mm'}}</span>
  </div>
  <div 
    class="input-group-append"
    #calendarBtnWrap
  >
    <button 
      class="btn btn-secondary calendar" 
      type="button"
      #calendarBtn
      (click)="openDrop()"
      [id]="inputId"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
      </svg>
    </button>
  </div>
  
  <div 
    class="drop border rounded-sm"
    [ngClass]="{
      'drop-bottom': dropPosY === 'top',
      'drop-top': dropPosY === 'bottom',
      'drop-right': dropPosX === 'right',
      'drop-left': dropPosX === 'left'
    }"
    *ngIf="showDrop"
    #drop
  >
    <div class="drop-header d-flex justify-content-end p-1 border-bottom">
      <button 
        type="button" 
        class="close" 
        aria-label="Close" 
        (click)="showDrop = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="drop-body p-1 d-flex flex-column align-items-center">
      <ngb-timepicker 
        [ngModel]="hour_model" 
        (ngModelChange)="timeChanged($event)"
        lang="pl-Pl" 
      ></ngb-timepicker>
      <ngb-datepicker 
        #d 
        [ngModel]="date_model" 
        lang="pl-Pl" 
        (ngModelChange)="dateChanged($event)"
      ></ngb-datepicker>
    </div>
  </div>
</div>