.datetime-wrap {
  position: relative;
}

.fake-input {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  outline: initial !important;
  background: #f8f9fa;
  border: 1px solid #ced4da;
  color: #47404f;
  font-size: 0.8rem;
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
}

.calendar {
  color: #fff;
  font-size: 0.8rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.drop {
  position: absolute;
  background-color: #fff;
  z-index: 5;
}

.drop-bottom {
  bottom: 100%;
}

.drop-top {
  top: 100%;
}

.drop-right {
  left: 0;
}

.drop-left {
  right: 0;
}