<div class="input-group">
  <input
    class="form-control {{helper[key]?.valid}}"
    placeholder="yyyy-mm-dd"
    [(ngModel)]="date_model"
    (ngModelChange)="changed()"
    (click)="focusEmmit()"
    name="dp"
    ngbDatepicker
    #d="ngbDatepicker"
    [startDate]="_startNgbDate"
    [minDate]="_minNgbDate"
    [maxDate]="_maxNgbDate"
    readonly
  />
  <div class="input-group-append">
    <button
      class="btn btn-default btn-outline-secondary calendar"
      (click)="d.toggle()"
      type="button"
      #calendarBtn
    >
      <i class="i-Calendar"></i>
    </button>
  </div>
</div>