<div class="container-fluid main__content">
	<div class="row">

		<div class="col-12 d-md-none">
			<h1>{{title | translate}}</h1>
			<hr>
		</div>

		<div class="col-12">
			<div class="card mb-4">
				<div class="card-body">
					<div class="row">
						<!-- nazwa produktu -->

						<div class="col-12 col-md-6 mb-3 form-group">
							<span>{{ 'PRODUCT_EDITOR_PRODUCT_NAME_LABEL' | translate }}</span>
							<app-byetext [model]="model" key="product_name" [helper]="helper" valid="NON_EMPTY" label="PRODUCT_EDITOR_PRODUCT_NAME_LABEL" [disable]="false"></app-byetext>
						</div>

						<!-- cena -->

						<div class="col-12 col-md-6 mb-3 form-group">
							<span>{{ 'PRODUCT_EDITOR_CENA_LABEL' | translate }}</span>
							<app-byenumber [model]="model" key="cena" [helper]="helper" valid="POSITIVE" label="PRODUCT_EDITOR_CENA_LABEL" [disable]="false"></app-byenumber>
						</div>

					</div>
					<div class="col-12">
						<h2 class="h5">{{'PRODUCT_EDITOR_SEPARATOR_' | translate}}</h2>
					</div>
					<div class="row">
						<!-- opis -->

						<div class="col-12 col-md-12 mb-3 form-group">
							<span>{{ 'PRODUCT_EDITOR_DESCRIPTION_LABEL' | translate }}</span>
							<app-byetextarea [model]="model" key="description" [helper]="helper" label="PRODUCT_EDITOR_DESCRIPTION_LABEL" [disable]="false"></app-byetextarea>
						</div>

					</div>
					<div class="col-12">
						<h2 class="h5">{{'PRODUCT_EDITOR_SEPARATOR_' | translate}}</h2>
					</div>
					<div class="row">
						<!-- zdjęcie produktu -->

						<div class="col-12 col-md-12 mb-3 form-group">
							<span>{{ 'PRODUCT_EDITOR_PRODUCT_PHOTO_LABEL' | translate }}</span>
							<app-byeupload [model]="model" key="product_photo" format="image/jpeg" uploader="web/product_editor/product_photo/UploadFile" saver="web/product_editor/SaveData" buttontext="PRODUCT_EDITOR_PRODUCT_PHOTO_UPLOAD_BUTTON_TEXT_0"></app-byeupload>
						</div>

					</div>

					<!-- List of uploaded files -->

					<div class="row">
						<div class="form-group col-md-12">
							<app-byefilelist [model]="model" [helper]="helper" key="product_photo" type="IMAGE" deletable="true" buttontext="PRODUCT_EDITOR_PRODUCT_PHOTO_REMOVER_BUTTON_0" remover="web/product_editor/product_photo/RemoveFile" confirmquestion="PRODUCT_EDITOR_PRODUCT_PHOTO_REMOVAL_CONFIRMATION_QUESTION_0" [starturl]="basic.getBaseUrl() + '/product_photo'" ></app-byefilelist>
						</div>
					</div>

					<!-- End of upload file list -->

					<div class="row">
						<div class="col-12 d-flex align-items-end">
							<bye-button [loading]="loading" (OnClick)="saveAndUpdateModel();" className="btn btn-primary btn-block">{{ 'PRODUCT_EDITOR_PANEL_SAVE_BUTTON' | translate }}</bye-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
