<header class="main-header" (click)="checkWidth($event)">
  <a 
    class="logo"
    [routerLink]="['/' + basic.getUserRole() + '_dashboard']"
  >
    <img src="../../assets/img/logo.png" alt="" />
  </a>

  <div class="menu-btn d-md-none" id="menu_btn" (click)="changeMenuState()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div>
    <h1 class="d-none d-md-block">{{title | translate}}</h1>
  </div>

  <div class="m-auto"></div>

  <div class="header-right">

    <div class="header-right__item">
      <div class="menu-btn" id="menu_btn" (click)="dropdownToggle()">
        <i class="i-Administrator acc-icon"></i>
      </div>
      
      <div
        class="header-right__dropdown dropdown"
        [ngClass]="{
          'dropdown-open': dropdownOpen
        }"
      >
        <button class="dropdown__item" (click)="logout()">{{ 'LOGOUT' | translate }}</button>
      </div>
    </div>

    <div class="header-right__item mr-sm-4">
      <app-lang-select></app-lang-select>
    </div>

    <div class="header-right__item mr-sm-4">
      <app-color-scheme-select></app-color-scheme-select>
    </div>

  </div>
</header>

<nav class="app-nav" [ngClass]="{ 'nav-open': menuOpen }" #menu>
  <ng-scrollbar [visibility]="'hover'">
    <ul class="nav__menu">
      <ng-container *ngFor="let item of navItems">
        <li 
          class="nav__item" 
          (click)="openMenu()" 
          (mouseover)="openMenu()" 
        >
          <app-nav-link
            [(selectedKey)]="selectedKey"
            (selectedKeyChange)="selectedKeyChanged($event)"
            [data]="{
              title: item.title,
              iconClass: item.iconClass,
              sub: item.sub,
              linkTo: item.linkTo
            }"
          ></app-nav-link>
        </li>
      </ng-container>
    </ul>
  </ng-scrollbar>
</nav>



<div class="submenu d-none d-md-block" #subMenu [ngClass]="{ 'submenu-open': subMenuOpen }">
  <ng-scrollbar>
    <ul class="submenu__ul" *ngIf="subMenuContent">
      <li class="submenu__item" *ngFor="let s of subMenuContent">
        <a (click)="checkWidth()" [routerLink]="s.linkTo" class="submenu__link">
          <i [class]="s.iconClass"></i>
          <span>{{ s.title | translate }}</span>
        </a>
      </li>
    </ul>
  </ng-scrollbar>
</div>


<main
  class="main d-flex flex-column"
  [ngClass]="{
    'main-short': menuOpen
  }"
  (click)="hideSubmenu()"
>
  <router-outlet></router-outlet>
</main>
