.main-header {
  position: fixed;
  width: 100%;
  height: 80px;
  //box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  //background: #fff;
  background: #f8f9fa;
  z-index: 100;
}

.logo {
  width: 90px;

  img {
    display: block;
    width: 60px;
    margin: 0 auto;
    object-fit: contain;
  }
}

.menu-btn {
  width: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  div {
    width: 24px;
    height: 1px;
    background: #47404f;
    margin: 3px 0;
  }
}

.header-right {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 1rem;
    position: relative;
  }

  &__img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__dropdown {
    border: 0;
    //box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.15);
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    font-size: .813rem;
    color: #47404f;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
  }
}

.dropdown {
  will-change: transform;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(0, 36px);
  margin: .125rem 0 0;
  display: none;

  &__item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #47404f;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    padding: .4rem 2rem;
    transition: .15s;

    &:focus,
    &:hover {
      color: #3b3541;
      text-decoration: none;
      background-color: #f8f9fa;
    }
  }

  &__header {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #47404f;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    padding: .4rem 2rem;
    font-size: .7rem;
    transition: .15s;
  }
}

.app-nav {
  position: fixed;
  top: 80px;
  left: -100vw;
  height: calc(100vh - 80px); //calc(var(--vh, 1vh) * 100)
  height: calc(calc(var(--vh, 1vh) * 100) - 80px);
  //background: #fff;
  //box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  background: #f8f9fa;
  box-shadow: 0.5rem 0 1rem rgb(0, 0, 0, 0.15);
  z-index: 90;
  transition: .3s;

  /* Firefox */
  scrollbar-color: transparent transparent;
  scrollbar-width: none;

  &:hover { /* Firefox */
    scrollbar-color: #ccc transparent;
    scrollbar-width: thin;
  }

  &::-webkit-scrollbar { /* Chrome */
    position: absolute;
    width: 0;
    transition: 0.2s;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
  &:hover::-webkit-scrollbar {
    width: 8px;
  }

  ng-scrollbar {
    width: 67vw;
  }

  .nav__menu {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0; 
    padding: 0;
  }

  .nav__item {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    color: #332e38;
    cursor: pointer;
    border-bottom: 1px solid #dee2e6;
  }

  .nav__link {
    width: 100%;
    padding: 16px 0 16px 16px;
    color: #332e38;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: none;
      color: inherit;
    }

    i {
      font-size: 1rem;
      height: 16px;
      width: 16px;
      display: block;
      margin-right: 6px;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
    }

    span {
      display: block;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

.submenu {
  position: fixed;
  top: 80px;
  left: -350px;
  z-index: 89;
  width: 220px;
  padding: .75rem 0;
  transition: all .3s ease-in-out;
  //background: #fff;
  background: #f8f9fa;
  height: calc(100vh - 80px);
  height: calc(calc(var(--vh, 1vh) * 100) - 80px);
  box-shadow: 0.5rem 0 1rem rgb(0, 0, 0, 0.15);
  //box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  touch-action: auto;
  overflow-y: scroll;

  /* Firefox */
  scrollbar-color: transparent transparent;
  scrollbar-width: none;

  &:hover { /* Firefox */
    scrollbar-color: #ccc transparent;
    scrollbar-width: thin;
  }

  &::-webkit-scrollbar { /* Chrome */
    position: absolute;
    width: 0;
    transition: 0.2s;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
  &:hover::-webkit-scrollbar {
    width: 8px;
  }

  &__ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  &__item {
    display: block;
  }

  &__link {
    color: #332e38;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-size: .9rem;
    cursor: pointer;
    padding: 12px 24px;
    transition: all .15s ease-in;

    &:hover {
      text-decoration: none;
      color: inherit;
      background-color: #eee;
    }

    i {
      margin-right: 8px;
      vertical-align: middle;
      color: #70657b;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }

    span {
      vertical-align: middle;
      font-weight: 400;
    }
  }
}

.mobsubmenu {
  padding: .75rem 0;
  transition: all .3s ease-in-out;
  touch-action: auto;
  overflow-y: scroll;

  &__ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  &__item {
    display: block;
  }

  &__link {
    color: #332e38;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-size: .9rem;
    cursor: pointer;
    padding: 6px 12px;
    transition: all .15s ease-in;

    &:hover {
      text-decoration: none;
      color: inherit;
      background-color: #eee;
    }

    i {
      margin-right: 8px;
      vertical-align: middle;
      color: #70657b;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }

    span {
      vertical-align: middle;
      font-weight: 400;
    }
  }
}

.main {
  width: 100%;
  float: right;
  margin-top: 80px;
  transition: all .24s ease-in-out;
  padding: 1rem 0;
  position: relative;
  min-height: calc(100vh - 80px);
  min-height: calc(calc(var(--vh, 1vh) * 100) - 80px);
  //background: #fff;
  background: #EBEBEB;
  
  &__content {

    h1 {
      font-size: 1.5rem;
    }
  }
}

.dropdown-open {
  display: block;
}

.nav-open {
  left: 0 !important;
}

.submenu-open {
  left: 120px;
}


@media (min-width: 576px) {
  .logo {
    width: 120px;
  
    img {
      display: block;
      margin: 0 auto;
      object-fit: contain;
    }
  }

  .header-right {
  
    &__item {
      margin-right: 2rem;
    }
  }
}


@media (min-width: 768px) {

  .app-nav {
    left: -150px;

    ng-scrollbar {
      width: 120px;
    }

    .nav__link {
      padding: 26px 0;
      display: block;

      i {
        font-size: 2rem;
        height: 32px;
        width: 32px;
        margin: 0 auto 6px;
      }

      span {
        font-size: .8rem;
      }
    }

    .nav__item {
      border-bottom: 1px solid #dee2e6;
    }
  }

  .main {
    padding: 1rem;
  }

  .main-short {
    width: calc(100% - 120px) !important;
  }
}


@media (min-width: 992px) {

  .main {
    padding: 1.5rem;
  }
}


///////////////////////


.langs-dropdown {
  min-width: 7rem;
  transform: translate(0, 36px);
}

.lang-btn {
  cursor: pointer;
  transition: .2s;
}
.lang-btn:hover {
  background-color: #ddd;
}

.lang_flag {
  width: 18px;
}

.acc-icon {
  font-size: 25px;
}
