 
.img-wrap {
  width: 200px;
  position: relative;
}

.img-wrap img {
  width: 100%;
  height: auto;
}

.img-wrap .delete-image-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 6px;
  font-size: .7rem;
  transition: .2s;
}

.img-wrap .visible {
  visibility: visible;
}

.img-wrap .hover,
.img-wrap .hidden {
  visibility: hidden;
}

.img-wrap:hover .visible,
.img-wrap:hover .hover {
  visibility: visible;
}