<div class="d-flex align-items-start">
  <div 
    class="d-flex mr-3 img-wrap"
    *ngFor="let x of model[key]; let i = index"
  >
    <button
      type="button"
      [class]="'btn btn-danger delete-image-btn pull-right ' + visible"
      (click)="removeFile(i)"
    >
      &times;
    </button>
    <img
      *ngIf="isImage(x.extension); else linkToFile"
      [src]="starturl + x.file_path + '/miniature' + x.extension"
      class="img img-responsive full-width"
    />
    <ng-template #linkToFile>
      <a
        [href]="starturl + x.file_path + '/original' + x.extension"
        style="padding-right: 40px"
        >{{ x.original_name }}</a
      >
    </ng-template>
  </div>
</div>


<!-- <div class="row">
   <div class="table-responsive col-12 col-md-12 filelist">
       <table class="rg-table" summary="">
           <tr>
               <td *ngFor="let x of model[key]; let i = index" align="center" style="padding-right: 20px;" valign="top">
                   <div class="image">
                       <button type="button" class="btn btn-danger delete-image-btn pull-right" (click)="removeFile(i);">
                           &times;
                       </button>
                       <img *ngIf="x.extension === '.jpg'" [src]="starturl + x.file_path + '/miniature.jpg'" class="img img-responsive full-width" />
                       <a *ngIf="x.extension !== '.jpg'" [href]="starturl + x.file_path + '/original' + x.extension" style="padding-right: 40px;">{{x.original_name}}</a>
                   </div>
               </td>
           </tr>
       </table>
   </div>
</div> -->