<div 
  class="popover-btn {{className}}" 
  [ngClass]="{
    'd-inline-flex': inline
  }"
  (mouseover)="definePopoverPosition($event)"
>
  <div class="popover-html">
    <ng-container *ngTemplateOutlet="popoverElem"></ng-container>
  </div>
  <div 
    class="popover-content {{windowClassName}}"
    #popover
  >
    <ng-container *ngTemplateOutlet="popoverContent"></ng-container>
  </div>
</div>
