@import '~quill/dist/quill.snow.css';


*, html, body {
  font-family: 'Alegreya', serif;
  font-family: 'Montserrat', sans-serif;
  zoom: reset;
}

.leaflet-marker-shadow {
  display: none;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.dashboard-card {
  height: 100%;
}

.dashboard-card i,
.dashboard-card svg {
  font-size: 2rem;
  color: #2F47C2;
}

.dashboard-card h2 {
  font-size: 1rem;
  margin: .75rem 0;
  text-align: center;
}

.dashboard-card p {
  margin: 0;
  font-size: 1.5rem;
}

.ng-image-slider .ng-image-slider-container .main {
  width: 100%;
  float: none;
  margin-top: 0;
  padding: 0;
  position: absolute;
  height: 200px;
  min-height: 0;
  background: none;
}

app-byemap {
  width: 100%;
  height: 100%;
}

.map {
  z-index: 1;
}

.soc_login_btn {
  border: 0;
  outline: 0;
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

.h400px {
  height: 400px;
}

.close {
  outline: none !important;
}

svg#grid,
svg#list {
  fill: #fff
}

button:disabled {
  cursor: not-allowed;
}

table {
  font-size: .75rem;
}

table th {
  white-space: nowrap;
}

table th div {
  display: flex;
  justify-content: center;
  align-items: center;
}

table th,
table td {
  text-align: center;
  vertical-align: middle !important;
  padding: .75rem .25rem !important;
}

.form-group span {
  font-size: .75rem;
}

.form-group .form-control {
  font-size: .8rem !important;
}

.btn {
  padding: .25rem .75rem;
}

.info-card {
  font-size: .8rem;
}

.square-avatar-rounded {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0px 0px 5px -10px rgba(66, 68, 90, 1);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

bye-button {
  width: 100%;
}

