<ng-template #registerModal let-modal>
  <div class="modal-header">
    <h2></h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 col-md-6 text-center auth__bg">
        <div class="pl-3 auth__soc-btns">
          <div class="auth__logo text-center mt-4">
            <img src="../../../assets/img/logo.png" alt="" width="128px">
          </div>
          <div class="flex-grow"></div>
          <div class="w-100 mt-2 mb-4">
            <button 
              class="btn btn-rounded btn-outline-info btn-block btn-icon-text auth__btn" 
              (click)="openLoginModal()"
            >
              <i class="far fa-envelope"></i>
              {{ 'REGISTER_PANEL_CANCEL_BUTTON' | translate }}
            </button>
        
            <button 
              class="soc_login_btn w-100 mt-2"
              (click)="loginWithFB()"
            >
              <img src="{{basic.getBaseUrl()}}/assets/img/fb.png" alt="" class="w-100">
            </button>

            <button 
              class="soc_login_btn w-75 mt-2"
              (click)="loginWithGoogle()"
            >
              <img src="{{basic.getBaseUrl()}}/assets/img/g_blue.png" alt="" class="w-100">
            </button>
          </div>
          <div class="flex-grow"></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="p-4 mt-md-4 mb-md-4">
          <h1 class="mb-3">{{'TITLE_REGISTER_PANEL' | translate}}</h1>
          <form>
            <div class="form-group">
              <label for="login">{{'REGISTER_PANEL_LOGIN' | translate}}</label>
              <input type="text" class="form-control form-control-rounded" id="login" name="login" [(appPhone)]="model.login" placeholder="+48XXXXXXXXX albo XXXXXXXXX">
            </div>

            <div class="form-group">
              <label for="pass">{{'REGISTER_PANEL_PASS' | translate}}</label>
              <input type="password" class="form-control form-control-rounded" id="pass" name="pass" [(ngModel)]="model.pass" #pass="ngModel" required />
            </div>

            <button 
                class="btn-primary btn-rounded btn-block mt-3"
                [disabled]="loading" (click)="register();"
            >{{'REGISTER_PANEL_REGISTER_BUTTON' | translate}}</button>
          </form>
          <div class="mt-3 text-center">
            <a 
              class="text-muted"
              [routerLink]="['/reset']"
              (click)="clearModals()"
          >{{'LOGIN_PANEL_PASS_RESET_BUTTON' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>