<div class="day_view_calendar">

  <div 
    *ngFor="let row of dayCalendarRows"
    class="day_view_calendar__row"
  >
    <ng-container *ngFor="let col of row">
      <div class="day_view_calendar__header">
        <span>{{ (col.hour | timeRangeFromHour).from }}</span>
        <span class="mx-1">-</span>
        <span>{{ (col.hour | timeRangeFromHour).to }}</span>
      </div>
      <div 
        class="day_view_calendar__col"
      >
        <button 
          class="week_cell"
          (click)="onCeilClick(col)"
        >
          <div 
            *ngIf="col.events?.length"
            class="week_cell__counter"
          >
            <span class="badge badge-danger badge-pill">{{col.events.length}}</span>
          </div>
          <div class="week_cell__indicators">
            <div 
              *ngFor="let e of col.events"
              class="week_cell__indicator" 
              [style.background]="e.color"
              [title]="e.title"
            ></div>
          </div>
        </button>
      </div>
    </ng-container>
  </div>
</div>