.table-responsive-g {
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem);
}

.map-open {
  transform: translate(0, 0);
}

.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}

.fz-0_5rem {
  font-size: .5rem !important;
}
.fz-0_6rem {
  font-size: .6rem !important;
}
.fz-0_7rem {
  font-size: .7rem !important;
}
.fz-0_8rem {
  font-size: .8rem !important;
}
.fz-0_9rem {
  font-size: .9rem !important;
}
.fz-1rem {
  font-size: 1rem !important;
}
.fz-1_1rem {
  font-size: 1.1rem !important;
}
.fz-1_2rem {
  font-size: 1.2rem !important;
}
.fz-1_3rem {
  font-size: 1.3rem !important;
}
.fz-1_5rem {
  font-size: 1.5rem !important;
}
.fz-1_7rem {
  font-size: 1.7rem !important;
}
.fz-1_8rem {
  font-size: 1.8rem !important;
}
.fz-2rem {
  font-size: 2rem !important;
}
.fz-2_5rem {
  font-size: 2.5rem !important;
}
.fz-3rem {
  font-size: 3rem !important;
}
.fz-4rem {
  font-size: 4rem !important;
}
.fz-5rem {
  font-size: 5rem !important;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}

.z-index-15 {
  z-index: 15;
}

.z-index-20 {
  z-index: 20;
}

.z-index-30 {
  z-index: 20;
}

.z-index-40 {
  z-index: 40;
}

.z-index-50 {
  z-index: 50;
}

.z-index-60 {
  z-index: 60;
}

.z-index-70 {
  z-index: 70;
}

.z-index-80 {
  z-index: 80;
}

.z-index-90 {
  z-index: 90;
}

.z-index-100 {
  z-index: 100;
}

.z-index-200 {
  z-index: 200;
}

.z-index-300 {
  z-index: 300;
}

.z-index-400 {
  z-index: 400;
}

.z-index-500 {
  z-index: 500;
}

.z-index-600 {
  z-index: 600;
}

.z-index-700 {
  z-index: 700;
}

.z-index-800 {
  z-index: 800;
}

.z-index-900 {
  z-index: 900;
}

.z-index-1000 {
  z-index: 1000;
}

.z-index-2000 {
  z-index: 2000;
}

.z-index-3000 {
  z-index: 3000;
}

.z-index-4000 {
  z-index: 4000;
}

.z-index-5000 {
  z-index: 5000;
}

.z-index-6000 {
  z-index: 6000;
}

.z-index-7000 {
  z-index: 7000;
}

.z-index-8000 {
  z-index: 8000;
}

.z-index-9000 {
  z-index: 9000;
}

.z-index-10000 {
  z-index: 10000;
}

.lh-0_1 {
  line-height: .1;
}
.lh-0_2 {
  line-height: .2;
}
.lh-0_3 {
  line-height: .3;
}
.lh-0_4 {
  line-height: .4;
}
.lh-0_5 {
  line-height: .5;
}
.lh-0_6 {
  line-height: .6;
}
.lh-0_7 {
  line-height: .7;
}
.lh-0_8 {
  line-height: .8;
}
.lh-0_9 {
  line-height: .9;
}
.lh-1 {
  line-height: 1;
}

.white-space-nowrap {
  white-space: nowrap;
}