$defaultColor: #639;
$defaultHoverColor: #4d2673;
$primaryColor: #3679E1;
$primaryHoverColor: #1457BF;
$secondaryColor: #52495a;
$secondaryHoverColor: darken($secondaryColor, 10%);
$successColor: #4caf50;
$successHoverColor: darken($successColor, 10%);
$dangerColor: #d22346;
$dangerHoverColor: darken($dangerColor, 20%);
$warningColor: #ffc107;
$warningHoverColor: darken($warningColor, 10%);
$darkColor: #47404f;
$darkHoverColor: darken($darkColor, 10%);
$lightColor: #bbb;
$lightHoverColor: darken($lightColor, 10%);;
$infoColor: #86B1E4;
$infoHoverColor: darken($infoColor, 10%);;